<h1>Start Your Personality Test</h1>

<div>
  <% @questions.each do |question| %>
    <b><%= question.content %></b><br />
    <% question.options.each do |option| %>
      <button class="mb-2 btn btn-outline-primary"><%= option.content %> </button><br/>
    <% end %><br />
  <% end %>
</div>

<%= will_paginate @questions %>
<button>Submit Your Answers</button>